body {
    width: max-content;
    padding: 15px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 8px;
}

#submit {
    margin-top: 18px;
    margin-bottom: 16px;
}

[type="checkbox"]:not(:checked):disabled+span:not(.lever):before {
    border: 1px solid #7a7a7a;
    background: #fff;
}