body {
    font-family: 'Courier New', Courier, monospace;
    font-size: 12px;
    width: 300px;
}

th {
    text-align: left;
    padding: 20px 0 0 0;
}

#logo {
    width:100%; 
    max-width:300px;
    vertical-align: top;
}